#red, #redHome {
    color: #fd502e !important;
}

#colorfulContainer{
    background-color: #fd502e;

}

button{
    background-color: white !important;
    color: black !important;
    border-radius: 100px !important;
    margin: -3px;
}

.btn-secondary{
    border-color: white !important;
}

#man2, #man3, #man4, #man42 {
    border-radius: 15%;
}

#footerDark{
    background-color: black !important;
}

footer .navbar-light .navbar-nav .nav-link {
    color:white !important;
}

h5{
    padding-bottom: 30px;
}

#one, #two, #three, #four, #five{
    border-bottom: 1px solid white;
    padding-bottom:18px;
}

h4{
    padding-top:50px;
}

#icons{
 background-color: #fd502e;
 border-radius: 50%;
 border: 1x solid grey;
 padding:25px;
 color: white;
 font-size: 28px;

}

#iconsOther{
    background-color: #fd502e;
    border-radius: 50%;
    border: 1x solid grey;
    padding:25px;
    color: white;
    font-size: 28px;
    float: left;
}

#paddingTop{
    padding-top: 100px;
    padding-bottom: 100px;
}

#socialIcons{
    background-color: black;
    border-radius: 50%;
    border: 1x solid grey;
    padding:11px;
    color: white;
    font-size: 15px;
    margin-right: 15px;
}
.icon{
    padding-top: 15px;
}

.nav-link{
    color: white;
}

.carousel-indicators li{
    border-radius:50% !important;
    padding: 5px;
    width: 5px;
    position:relative;/*put element outside of its position*/
    background-color: gray;

}

.carousel-indicators .active {
    background-color:#fd502e;
}

.carousel-indicators{
    position:absolute; /*put element outside of its position*/
    bottom: -50px;
}

