<!--footer-->
<footer class="text-white bg-dark py-4" id="footerDark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-lg-1">
                <a class="navbar-brand text-white" href="#">@ Multi. All rights Reserved
                <p>Designed by Karla Gergelova</p>
                </a>
            </div><!--/col-->
            <div class="col-lg-8 order-lg-2">
                    <ul class="nav justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                    </li>
                    </ul>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</footer> 