<!-- Footer -->
<footer class="container-fluid bg-dark text-center text-white pt-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Made by Karla Gergelova</p> 
                <p>© 2019 tous droits réservés</p>
            </div>
        </div>
    </div><!--/container-->   
</footer>