<!--Navbar-->
<nav class="navbar navbar-light bg-light text-white">
    <div class="container">
        <a class="navbar-branda text-white" href="#">OhMyCats!</a>
    </div>
</nav>

<!--Header-->
<header class = "container-fluid py-5 text-white text-center" style="background-image: url(images/ohmycats/background.jpg);">
    <h1>Adoptez un chat trop bon!</h1>
</header>