.logo-header img, .logo-footer img {
    max-width: 45px;
}



/* .header-transparent .main-bar {
    background-color: black;
} */

button.scroltop {
    background-color: rgb(228, 233, 146);
    border-color: rgb(228, 233, 146);
}

.text-primary{
    color:rgb(228, 233, 146);
}

.dlab-separator {
    background-color:rgb(228, 233, 146);
}

.what-we-do .icon-bx-wraper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
}

.what-we-do-2 .icon-bx-wraper {
    background-color: white;
}

.dlab-tilte{
    color:black!important;
}

.invisible{
    visibility: hidden;
    display: none;
}

.dlab-tilte{
    color:black !important;
}