<!--Footer-->
<footer class="container-fluid py-5 text-center">
    <div class="container">
        <section class="row">
            <div class="col-md-6">
                <img src="{{asset('images/rentacar/agence.webp') }}" alt="agence" class="src" width="30%" id="agence">
            </div><!--/col-->
            <div class="col-md-6 text-left">
                <p>Notre Agence de <span id="Paris">Paris</span>
                <br>
                300 bouleavrd de vaugirard, 75015, Paris<br>
                Ouvert 7j/7 de 09 à 13h et de 14h à 20h<br>
                01 49 78 21 33<br>
                contact@vtc.com
            </div><!--/col-->
        </section><!--/row-->
    </div><!--/container-->
</footer>