<!-- Footer -->
	<footer>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"> <p><span>Made with <img src="{{ asset('images/heart.png') }}" alt="heart" class="src"> and <img src="{{ asset('images/chocolate.png') }}" alt="choco" class="src"> </span> <p></div>
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"> <p><span>© Karla Gergelova 2020 - All rights reserved</span> </p></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->