	<!-- header -->
    <header class="site-header header header-transparent navbar-expand-lg">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper">
            <div class="main-bar clearfix onepage">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html"><img src="{{asset('images/logo1transparent.png') }}" alt="logo KG"></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse navbar myNavbar justify-content-end" id="navbarNavDropdown" >
						<ul class="nav navbar-nav">
							<li><a href="#accueil" class="scroll nav-link active">Accueil</a></li>
							<li><a href="#about-us" class="scroll nav-link">A propos</a></li>
							<li><a href="#competences" class="scroll nav-link">Compétences</a></li>
							<li><a href="#portfolio" class="scroll nav-link">Portfolio</a></li>
                            <li><a href="#cv" class="scroll nav-link">CV</a></li>
							<li><a href="#contact" class="scroll nav-link">Contact</a></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>